@model MvcPL.Models.Question.QuestionViewModel
<div class="well">
    <h3>
        <strong>
            @Model.Content</ strong >
            <span class="pull-right label label-primary">Cost @Model.Cost </ span >
    </h3>
    
    <span class="lead"> Question @Model.Number </ span >

</div>
